*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
/* .topContainer{
    background-image: url('https://64.media.tumblr.com/c4ac9704604afb06cf67da8d1032363d/tumblr_nacv62wJNl1s01qkyo1_r2_500.gifv');  */

.header{
    width: 100%;
    height: 750px;
    color: #ffff;
    background-image: url('https://media2.giphy.com/media/KZFrf9JusXzmpnPsT6/giphy.gif?cid=790b761103a2b47a95a93e240614c578df9e888d10ec76af&rid=giphy.gif&ct=g');
    background-repeat:repeat; 
    background-size: cover;
  padding: 0 8.5% ;
  position: relative;
  margin: auto;

}
.navbar{
    position: fixed;
    width: 90%;
    z-index: 800;
    /* padding: 30px 0; */
    transition: all 0.3s ease;
   
   
}
nav{
    display: flex;
    width: 100%;
    align-items: right;
    flex-wrap: wrap;
    padding: 30px 0px 10px;
    /* background-color: rgb(0, 0, 0, 0.5); */
}
.logo{
    margin-top: 30px;
    margin-left: 25px;
   
    width: 80px;
    cursor: pointer;
    position: absolute;

}
nav ul{
flex: 1;
text-align: right;
padding-left: 0;
padding-right: 40px;
}
nav ul li{
    display: inline-block;
    list-style: none;
   margin: 10px 30px;
}
nav ul li a{
    color: #ffff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 15px;
}
nav ul li a:hover{
color: #94DAFF;
}
.text-box{
    /* margin-top:10% ; */
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
}
.text-box h1{
   /* margin-top: 50px; */
    font-size: 75px;
    line-height: 160px;
    /* display: inline-block; */
    border-radius: 6px;
    /* border: 2px solid #94DAFF; */
    color: #ffff;
    padding: 300px 30px 25px;

}
.text-box a{
     display: inline-block;
     border-radius: 6px;
     border: 2px solid #94DAFF;
     color: #3EDBF0;
     padding: 10px 30px;
     text-decoration: none;
     margin-left: 30px;
}
.text-box p{
    margin-left: 30px;
    margin-bottom: 30px
}
.text-box .btn{
    background-color:#3EDBF0 ;
    color: #000;
    margin-left: 30px;
    font-weight: 600;
}
.user{
    width: 500px;
    position: absolute;
    bottom: 0;
    right: 8%;
}
/* about  */
.about{
width: 100%;
height: 750px;
background-image: url('https://media2.giphy.com/media/6kkdoLdjDKUaC6JEKu/giphy.gif?cid=ecf05e474fwctv56hg4n3sdjfa81x6iieuvq1a1kom0u2343&rid=giphy.gif&ct=g');
background-repeat:repeat; 
background-size: cover;}


.about-title{
   color: #71acce;
        text-align: center;
    padding-top: 50px;
    font-size: 100px;
    padding-bottom: 50px;
}
.women{
    margin-left: 45%;
    width: 10%;

 }
 .intro{ width: 40%;
    margin: 40px auto 60px;
    line-height: 2;
    font-size: 20px;
    color: #78acca;
}
/* tech stack  */
.skills{
    width: 100%;
    height: 750px;
    background-image: url('https://media0.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif?cid=ecf05e47ozupk3cxldlr6tlrz3oc2kcb3nv95jq890qq2tpw&rid=giphy.gif&ct=g');
    background-repeat:repeat; 
    background-size: cover; 
    padding: 0 ;
    color: #ffff;
}
.title_skills{
    text-align: center;
padding-top: 50px;
font-size: 100px;
padding-bottom: 50px;
}

.skills-content{
    margin-left: 100px;
    /* padding: 50px; */
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}


.skills .skills-content .right .line{
    height: 10px;
    width: 100%;
    background: lightgrey;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #3EDBF0 ;
}
.skills-content .right .html::before{
    width: 90%;
    
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 40%;
}
.skills-content .right .c::before{
    width: 50%;
}
.skills-content .right .cpp::before{
    width: 70%;
}
.skills-content .right .mysql::before{
    width: 70%;
}
.laptop{
    width: 30%;;
    position:absolute;
    /* padding-left: 300px; */
    margin-left: 60%;
 
}

/* contact me  */
.contact{
width: 100%;
height: 950px;
background-image: url('https://thumbs.gfycat.com/ImperturbableBouncyBighornsheep-max-1mb.gif');
background-repeat:repeat; 
background-size: cover;
}
.contact-title{
    color: #71acce;
    text-align: center;
padding-top: 50px;
font-size: 100px;
padding-bottom: 30px;
}
.contact-content{
 margin-left: 60% ;   
 
}
.contact .text{
    font-size: 50px;
    margin-bottom: 20px;
    color: #81b9da;
}
.tab{
    margin-bottom: 20px;
   
}
input {
    height: 100%;
    width: 75%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
padding: 10px ;
padding-left: 10px;}
.message{
    height: 60%;
    width: 75%; 
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
padding: 10px 0;
padding-left: 10px;
margin-bottom: 20px;
}
.button{
    display: inline-block;
     border-radius: 6px;
     background-color:#81b9da;
     color: #ffff;
     padding: 20px 50px;
     text-decoration: none;
     
    }
    .button:hover{ background-color: lightgrey !important;
        outline: none !important;
    
    
    }
    .phone{
        position: absolute;
        margin-left: 200px;
        margin-top: 50px;
    }
    html{
        scroll-behavior: smooth ;
    }

    .social-icon{
        margin: 20px 10px;
    }
    .copyright{
        
        color: #81b9da;
        font-size: 0.75rem;
    padding: 20px 0;}
    .bottom-container{
        /* background-color: #A6DCEF; */
        padding: 50px 0 20px;
        text-align: center;
    }
    .footer-link{
        color:#81b9da ;
        /* font-family: 'Montserrat', sans-serif; */
        margin: 10px 20px;
        text-decoration: none;
    
    }
    .footer-link:hover{
        color: rgba(153, 152, 152, 0.89);}
    
