@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: red;  
    width: 20vw;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
}

.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}


.main{
    background-color: yellow;
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
}

.infoContainer{
    background-color: olivedrab;
    height: 50vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devPic img{
    width: 200px;
}