/* uigradients website */

/* all(*{})*/
    /* background: linear-gradient(to right, #c04848, #480048); */
    /* background: linear-gradient( #c04848, #480048); */

h1{
    text-align: center;
    color: lightsalmon;
    text-decoration: underline;
}
#bio{
    text-align: center;
    font-family: cursive;
}
img{
    margin: 10px;
    border: 2px solid lightcoral;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
    display: inline;
    padding: 0px 5px;
}
#text{
    margin: 20px;
    padding: 15px ;
    border: 4px solid gold;
}
